<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-3nFz8lXA0ksfw8yQzdmf2BPV1Ys_A3A</string>
	<key>GCM_SENDER_ID</key>
	<string>133445801132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce-app.dev</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-development</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133445801132:ios:8c57a532c09e287fe77b09</string>
</dict>
</plist>