<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943085493680-1nd7vgsnm2d179bi3rjtspgqo6l6f6bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943085493680-1nd7vgsnm2d179bi3rjtspgqo6l6f6bs</string>
	<key>API_KEY</key>
	<string>AIzaSyBSmdz_3JmQYRZIJeqNI09yyEuD3WNx18w</string>
	<key>GCM_SENDER_ID</key>
	<string>943085493680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce-app.stg</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-staging-e75ab</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-staging-e75ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943085493680:ios:ea49399bbf25d92d33ca75</string>
</dict>
</plist>